.navbar {
    z-index: 1;
}
#one {
    margin-top: 200px;
}
p {
    font-size: 17px;
}
u {
    font-weight: 600
}
#one h3 {
    font-weight: 600
}
#two {
    margin-top: 200px
}
#three {
    margin: 200px 0;
}
footer {
    height: 200px;
}